
/* Body and Header Styles */

* {
  box-sizing: border-box;
}

body {
height: 100%;
margin: 0 auto;
font-family: 'Noto Sans', sans-serif;
font-size: 1em;
line-height: 1.5;
color: #4A4A4A;
background-color: #f5f5f5;
text-align: center;
}

ul {
list-style: none;
padding-left: 0;
}

a {
text-decoration: none;
}

nav {
padding: 25px;
}


h1, .top-nav {
text-align: center;
}

.top-nav, .top-nav li {
width: 100%;
}

h1 a, .top-nav a {
color: #4A4A4A;
}

.top-nav {
margin-top: 30px;
}

.top-nav li {
padding: 10px 0;
margin: 5px auto;
background-color: #fff;
}

.top-nav a {
text-transform: uppercase;
font-weight: bold;
}

.container {
width: 100%;
margin: 0 auto;
}

p {
margin: 0;
padding: 0;
}

h2, h3 {
font-size: 1.25em;
color: #602668;
margin: 0;
}

h2 {
text-transform: uppercase;
padding: 1.25em 0;
}

h3 {
padding: 1.2em 0;
}

img {
max-width: 100%;
}

nav ul li a {
color: #7F7F7F;
font-size: .9em;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
padding: 0.5em;
display: block;
}

nav ul li {
list-style: none;
background-color: #fefefe;
margin-bottom: 0.3em;
}

nav ul {
margin: 0;
padding: 0;
}

ul {
list-style: none;
padding-left: 0;
}

a {
text-decoration: none;
color: #7F7F7F;
line-height: 1.38em;
}

.clearfix {
content: " ";
display: table;
clear: both;
}


/* Main Styles */

#about, #skills {
padding-bottom: 3em;
}

.bio-img {
width: 70%;
padding-bottom: 3em;
}

.bio {
font-size: 1.2em;
padding: 25px;
}

#portfolio {
background-color: #fff;
}

.proj {
display: block;
margin: 1.5em 1em;
max-width: 100%;
min-height: 350px;
text-align: center;
}

#skills {
width: 100%;
background-color: #dddbdb;
}

.skills li {
list-style: none;
background-color: #c475f1;
border-radius: .4em;
font-family: 'Staatliches', cursive;
text-align: center;
font-size: 1.5em;
letter-spacing: .1em;
color: #fff;
text-transform: uppercase;
padding: .25em 0;
}

#contact {
width: 90%;
margin: 0 auto;
padding-bottom: 1em;
}

.contact-copy {
padding-bottom: 1em;
}

address {
font-style: normal;
}

address span {
font-weight: 700;
padding-left: 0.5em;
}

address span a {
text-decoration: none;
color: inherit;
}

hr {
display: block;
border: 1px solid #cac9c9;
width: 100%;
margin-top: 2em;
}


/* Footer Styles */

footer {
width: 100%;
padding-left: 1em;
padding-right: 1em;
}

.name-bottom {
float: left;
font-weight: bold;
}

.footer-nav {
text-align: right;
text-transform: uppercase;
font-weight: bold;
}

li {
margin: .25em 1em;
}

.top, .footer-nav li:last-child {
margin-right: 0;
}

.full {
display: none;
}


/* Larger Screen Styles */

@media (min-width: 768px) {

  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
      color: #7F7F7F;
  }


  li {
    display: inline-block;
  }  

  nav ul li {
    background-color: transparent;
  }  

  .bio-img {
    float: right;
    width: 33%;
  }

  .bio {
    padding: 0;
    padding-right: 1em;
  }

  #about {
    width: 100%;
    height: 225px;
    padding: 1em 1.5em;
    margin: 0 auto;
  }

  .bio {
    float: left;
    width: 67%;
    margin-top: 0;
    font-size: 1.3em;
    text-align: left;
  }

  .proj {
    float: left;
    width: calc(50% - 2em);
    margin-bottom: 2em;
  }

  .skills li {
    padding: .5em 1em;
    margin: .25em;
  }

  .name-bottom {
    padding-left: 2em;
  }

  .footer-nav {
    padding-right: 2em;
  }

  .footer-nav ul li a {
    color: #9b9c9c;
  }

  .top {
    display: none;
  }

  .full {
    display: inline-block;
  }

}

@media (min-width: 1024px) {

  h1 {
    float: left;
    text-align: left;
    height: 12px;
    line-height: 12px;
  }

  .top-nav {
    text-align: right;
  }

  .bio {
    width: 60%;
  }

  #portfolio {
    width: 95%;
    margin-bottom: 3em;
  }

  .proj {
    width: calc(33.333% - 2em);
  }

  #skills {
    padding-top: 2em;
  }

  .contact-copy {
    width: 60%;
    margin: 0 auto;
  }

}